@charset "utf-8";


/*---------------------------------------------------*/
/* BASE
/*---------------------------------------------------*/

html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px
}
body{
	overflow-x: hidden;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0px;
	word-wrap: break-word;
	font-weight: 400;
	background-color: #fff;
	color: #6f6b80;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #6f6f6f;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #6f6f6f;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #6f6f6f;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #6f6f6f;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #6f6f6f;
}

::placeholder { /* Most modern browsers support this now. */
   color: #6f6f6f;
}

body::-webkit-scrollbar {
  width: 11px;
}
body{
  scrollbar-width: thin;
  scrollbar-color: #999 #fff;
}
body:-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
  border: 3px solid #fff;
}

.container{
	max-width: 1400px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	height:auto;
	padding:0px 40px;
	position:relative;
	clear:both;
}

h1, h2, h3, h4, h5, h6{
	font-weight:500;
	line-height: 1.3;
	font-family: 'Jost', sans-serif;
	color: #000;
}

h1 { font-size: 45px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

.portfolio_all_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
}
.portfolio_all_wrap,
.portfolio_all_wrap *{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}

#preloader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    display: flex;
}
#preloader:before,
#preloader:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
#preloader:after{
    left: auto;
    right: 0;
}
#preloader .loader_line{
    margin: auto;
    width: 1px;
    height: 250px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}
.loader_line:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
    -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
    -o-animation: lineheight 1000ms ease-in-out 0s forwards;
    animation: lineheight 1000ms ease-in-out 0s forwards;
}
.loader_line:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #999999;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: lineround 1200ms linear 0s infinite;
    -o-animation: lineround 1200ms linear 0s infinite;
    animation: lineround 1200ms linear 0s infinite;
    animation-delay: 2000ms;
}

@keyframes lineheight{
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}

@keyframes lineround{
    0%{
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100%{
        -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }
}

/*hiding all preloader*/
.preloaded .loader_line:after{
    opacity: 0;
}
.preloaded  .loader_line{
    opacity: 0;
    height: 100%!important;
}
.preloaded:before,
.preloaded:after{
    -webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
    -o-animation: preloadedzero 300ms ease-in-out 500ms forwards;
    animation: preloadedzero 300ms ease-in-out 500ms forwards;
}
@keyframes preloadedzero{
    0%{
        width: 50%;
    }
    100%{
        width: 0%;
    }
}
.dizme_tm_section{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}

/*---------------------------------------------------*/
/*	MOBILE MENU
/*---------------------------------------------------*/

.portfolio_mobile_menu{
	width: 100%;
	height: auto;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 10;
}
.portfolio_mobile_menu .mobile_menu_inner{
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: 10px 20px 10px 20px;
}
.portfolio_mobile_menu .mobile_in{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.portfolio_mobile_menu .mobile_in .logo img{
	max-width: 90px;
	max-height: 70px;
}
.portfolio_mobile_menu .trigger{
	line-height: 0;
}
.portfolio_mobile_menu .dropdown{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #fff;
	display: none;
}
.portfolio_mobile_menu .dropdown .dropdown_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 25px 40px;
}
.portfolio_mobile_menu .dropdown .dropdown_inner ul{
	margin: 0px;
	list-style-type: none;
}
.portfolio_mobile_menu .dropdown .dropdown_inner ul li{
	margin: 0px;
	float: left;
	width: 100%;
}
.portfolio_mobile_menu .dropdown .dropdown_inner ul li a{
	text-decoration: none;
	color: #000;
	display: inline-block;
	padding: 0px 0px;
	font-family: 'Jost', sans-serif;
	font-weight: 500;
}
.portfolio_mobile_menu .hamburger-inner, 
.portfolio_mobile_menu .hamburger-inner:after, 
.portfolio_mobile_menu .hamburger-inner:before{
	width: 30px;
	height: 2px;
}
.portfolio_mobile_menu .hamburger-box{
	width: 30px;
}
.portfolio_mobile_menu .hamburger{
	padding: 0px;
}

/*---------------------------------------------------*/
/*	HEADER
/*---------------------------------------------------*/

.dizme_tm_header{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	padding: 25px 0px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.dizme_tm_header .inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dizme_tm_header.animate{
	background-color: #fff;
	padding: 20px 0px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}
.dizme_tm_header .menu ul{
	margin: 0px;
	list-style-type: none;
	display: flex;
	align-items: center;
}
.dizme_tm_header .menu ul li{
	margin: 0px 50px 0px 0px;
	display: inline-block;
	font-size: 25px;
}
.dizme_tm_header .menu ul li:last-child{
	margin-right: 0px;
}
.dizme_tm_header .menu ul li.current a{
	color: #f75023;
}
.dizme_tm_header .menu ul li a:hover{
	color: #f75023;
}
.dizme_tm_header .menu ul li a{
	text-decoration: none;
	color: #000;
	font-weight: 500;
	font-family: 'Jost', sans-serif;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}


/*---------------------------------------------------*/
/*	HERO
/*---------------------------------------------------*/

.greenText{color: #1cbe59 !important;}
.purpleText{color: #8067f0 !important;}
.orangeText{color: #f75023 !important;}
.yellowText{color: #f0c45c !important;}

.orangeBackground{background-color: #fedfd7 !important;}
.greenBackground{background-color: #ddf5e6 !important;}
.purpleBackground{background-color: #ece8fd !important;}

.dizme_tm_hero{
	width: 100%;
	height: 100vh;
	clear: both;
	float: left;
	position: relative;
	margin-top: 75px;
	margin-bottom: 85px;
}
.dizme_tm_hero .background{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.dizme_tm_hero .container{
	height: 100%;
}
.dizme_tm_hero .content{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dizme_tm_hero .details{
	width: 50%;
	padding-right: 20px;
}
.dizme_tm_hero .hello h3{
	font-size: 45px;
	margin-top: 100px;
}
.dizme_tm_hero .name{
	margin-bottom: 18px;
}
.dizme_tm_hero .name h3{
	font-size: 85px;
}
.dizme_tm_hero .job{
	margin-bottom: 35px;
}
.dizme_tm_hero .job p{
	font-size: 28px;
	color: #000;
	font-weight: 500;
	margin: 50px 0;
}
.dizme_tm_hero .text{
	margin-bottom: 42px;
}
.dizme_tm_hero .text p{
	font-size: 23px;
	line-height: 1.5;
}
.dizme_tm_hero .button{
	display: flex;
	align-items: center;
}
.dizme_tm_hero .dizme_tm_button{
	width: auto;
}
.dizme_tm_button{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.dizme_tm_button a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	font-family: 'Jost', sans-serif;
	font-weight: 600;
	border-radius: 50px;
	border: 2px solid #f75023;
	padding: 20px 60px;
	position: relative;
	overflow: hidden;
}
.dizme_tm_button span{
	font-size: 25px;
	position: relative;
	z-index: 2;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.dizme_tm_button a:before{
	position: absolute;
	content: "";
	z-index: 0;
	background-color: #f75023;
	left: -5px;
	right: -5px;
	bottom: -5px;
	height: 110%;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.dizme_tm_button a:hover:before{
	height: 0;
}
.dizme_tm_button a:hover span{
	color: #000;
}
.dizme_tm_hero .brush img {
	position: absolute;
	z-index: -1;
	right: -300px;
	top: -100px;
	width: 450px;
	height: 450px;
}
.dizme_tm_about .social ul{
	list-style-type: none;
	display: flex;
}
.dizme_tm_about .social img {
	width: 20%;
}
.dizme_tm_hero .image{
	position: relative;
}
.dizme_tm_hero .avatar{
	width: 50%;
	padding-left: 100px;
}
.dizme_tm_hero .avatar img{
	max-height: 600px;
}
.dizme_tm_hero .projects{
	display: inline-block;
	width: 75px;
	height: 75px;
	border-radius: 8px;
	position: absolute;
	box-shadow: 24px 0px 72px rgba(54,32,152,.3);
}
.dizme_tm_hero .projects.illustrator{
	background-color: #390000;
	top: 20px;
	left: -30px;
}
.dizme_tm_hero .projects.photoshop{
	background-color: #001631;
	right: 70px;
	top: 80px;
}
.dizme_tm_hero .projects.figma{
	background-color: #fff;
	bottom: 60px;
	left: 140px;
}
.dizme_tm_hero .projects .svg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 40px;
	height: 40px;
}
.dizme_tm_hero .projects.illustrator .svg{
	color: #ff9a00;
}
.dizme_tm_hero .projects.photoshop .svg{
	color: #00a9ff;
}
.dizme_tm_down{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 60px;
	z-index: 5;
}
.dizme_tm_down svg{
	width: 35px !important;
	height: 35px !important;
}
.dizme_tm_down svg #wheel{
	animation: scroll ease 2s infinite;
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(60px);
    }
}

.animPulse{
	animation: animPulse 3s linear 0s infinite alternate;
}
@keyframes animPulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.anim_moveLeft{
	animation: animMoveLeft 3s linear 0s infinite alternate;
}

@keyframes animMoveLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-20px);
  }
}

.anim_moveRight{
	animation: anim_moveRight 3s linear 0s infinite alternate;
}

@keyframes anim_moveRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(20px);
  }
}

.anim_moveTop{
	animation: anim_moveTop 3s linear 0s infinite alternate;
}

@keyframes anim_moveTop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.anim_moveBottom{
	animation: anim_moveBottom 3s linear 0s infinite alternate;
}

@keyframes anim_moveBottom {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}


/*---------------------------------------------------*/
/*	11) SKILLS
/*---------------------------------------------------*/

.dizme_tm_skills{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	margin-top: 160px;
}
.dizme_tm_skills .brush img {
	position: absolute;
	z-index: -1;
	left: -300px;
	top: -160px;
	width: 400px;
	height: 400px;
}
.dizme_tm_skills h1 {
	font-size: 50px;
	color: #f75023;
	text-align: center;
	/* margin-top: 120px; */
}
.dizme_tm_skills h3 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 35px;
}
.dizme_tm_skills .skills_inner{
	width: 100%;
    float: left;
    clear: both;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #eee;
}
.dizme_tm_skills h6 {
	font-size: 20px;
	font-weight: 800;
	padding-top: 90px;
	margin-bottom: -30px;
}
.dizme_tm_skills ul{
	margin: -2px -10px -2px -2px;
    list-style-type: none;
    padding-top: 2px;
    float: left;
    padding-left: 2px;
    min-width: calc(100% + 12px);
} 
.dizme_tm_skills ul li{
	margin: 0px;
    float: left;
    width: 25%;
    border: 2px solid #eee;
    text-align: center;
    /* height: 280px; */
    line-height: 180px;
    position: relative;
    margin-top: -2px;
    margin-left: -2px;
    overflow: hidden;
} 
.dizme_tm_skills .skills_inner ul li img{
	width: 25%;
	height: auto;
} 



/*---------------------------------------------------*/
/*	ABOUT
/*---------------------------------------------------*/

.dizme_tm_about .brush img {
	position: absolute;
	z-index: -1;
	right: -350px;
	top: -240px;
	width: 450px;
	height: 400px;
}
.dizme_tm_about{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	margin-top: 250px;
}

.dizme_tm_about span {
	font-size: 24px;
	font-weight: 500;
	color: #f75023;
	font-family: 'Jost', sans-serif;
	display: flex;
	justify-content: center;
}
.dizme_tm_about h3 {
	display: flex;
	justify-content: center;
	font-size: 35px;
	margin-bottom: 25px;
}
.dizme_tm_about .wrapper{
	width: 100%;
	height: auto;
	clear: both;
	display: flex;
	align-items: center;
}
.dizme_tm_about .left{
	width: 50%;
	padding-right: 60px;
}
.dizme_tm_about .left .image{
	position: relative;
}
.dizme_tm_about .left .image img{
	width: 100%;
	margin-top: 100px;
	height: auto;
	border-radius: 20px;
}
.dizme_tm_about .right{
	width: 50%;
	padding-left: 60px;
}
.dizme_tm_about .right .title{
	margin-bottom: 25px;
}
.dizme_tm_about .right .title span{
	display: inline-block;
	color: #f75023;
	font-size: 24px;
	font-weight: 500;
	font-family: 'Jost', sans-serif;
	margin-bottom: 6px;
}
.dizme_tm_about .right .title h3{
	font-size: 48px;
	max-width: 90%;
	line-height: 1.25;
}
.dizme_tm_about .right .text{
	margin-bottom: 47px;
}


/*---------------------------------------------------*/
/*	PROJECTS
/*---------------------------------------------------*/

.dizme_tm_full_link{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 5;
	
}
.dizme_tm_projects{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-top: 200px;
	margin-bottom: 160px;
	position: relative;
	
}
.dizme_tm_projects span {
	font-size: 24px;
	font-weight: 500;
	color: #f75023;
	font-family: 'Jost', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dizme_tm_projects h3 {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
	font-size: 35px;
}
.dizme_tm_projects p {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	font-size: 20px;
}
.dizme_tm_projects .project_list{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 86px;
}
.dizme_tm_projects .project_list ul{
	margin: 0px 0px 0px -25px;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 3;
}
.dizme_tm_projects .project_list ul li{
	margin: 0px 0px 25px 0px;
	width: 50%;
	float: left;
	padding-left: 25px;
}
.dizme_tm_projects .project_list ul li .list_inner{
	width: 100%;
	height: 100%;
	clear: both;
	float: left;
	position: relative;
	border-radius: 12px;
	background-color: #fff;
	box-shadow: 18px 0px 87px rgba(10,15,70,.07);
	padding: 65px 65px 65px 195px;
}
.dizme_tm_projects .project_list ul li.simple .list_inner{
	box-shadow: none;
	border-radius: 0px;
	padding: 0px 60px 0px 0px;
	background-color: transparent;
}
.dizme_tm_projects .project_list ul li.text{
	text-align: center;
	padding: 0px 100px;
}
.dizme_tm_projects .project_list .title{
	width: 100%;
	float: left;
	margin-bottom: 19px;
}
.dizme_tm_projects .project_list .title h3{
	font-size: 30px;
	margin-bottom: 16px;
}
.dizme_tm_projects .project_list .price{
	font-weight: 500;
	font-size: 21px;
	color: #000;
	font-family: 'Jost', sans-serif;
}
.dizme_tm_projects .project_list .price span{
	font-size: 24px;
	color: #f75023;
}
.dizme_tm_projects .project_list .icon{
	position: absolute;
	left: 65px;
	top: 65px;
	width: 95px;
	height: 95px;
}
.dizme_tm_projects .project_list .icon .svg{
	width: 45px;
	height: 45px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	z-index: 2;
	color: #E8060A;
}
.dizme_tm_projects .project_list .icon .back{
	position: absolute;
	max-width: 95px;
	top: 0px;
}
.dizme_tm_projects .project_list .wrapper{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.dizme_tm_projects .project_list .wrapper h3{
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -.2px;
	margin-bottom: 35px;
}
.dizme_tm_projects .project_list a img {
	height: auto;
	width: 100%;

}
.dizme_tm_projects .popup_project_image{
	opacity: 0;
	visibility: hidden;
	display: none;
	position: absolute;
	z-index: -111;
}
.dizme_tm_projects .project_hidden_details{
	opacity: 0;
	visibility: hidden;
	display: none;
	position: absolute;
	z-index: -111;
}
.dizme_tm_projects .brush_1 img {
	position: absolute;
	z-index: -1;
	left: -175px;
	top: -150px;
	width: 400px;
	height: 380px;
}
.dizme_tm_projects .brush_2{
	position: absolute;
	right: -150px;
	bottom: -150px;
}


/*---------------------------------------------------*/
/*	15) DIZME COPYRIGHT
/*---------------------------------------------------*/

.dizme_tm_copyright{
	width: 100%;
	height: auto;
	background-color: #f2f5fb;
	padding: 57px 0px 61px 0px;
}
.dizme_tm_copyright p{
	font-size: 18px;
	text-align: center;
}


/*---------------------------------------------------*/
/*	17) DIZME TOTOP
/*---------------------------------------------------*/

.progressbar{
    position: fixed;
	height: 110px;
    width: 1.5px;
	bottom: 25px;
    right: -25px;
    background-color: rgba(0,0,0,.08);
    z-index: 10;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.progressbar.animate{
	right: 25px;
}
.progressbar .line {
	position: absolute;
    width: 1px;
	height: auto;
    background-color: rgba(0,0,0,.4);
}

.progressbar .text{
	position: absolute;
    bottom: 100px;
    left: 0px;
    font-size: 14px;
    transform: rotateZ(90deg);
    text-transform: uppercase;
    transform-origin: left;
    white-space: nowrap;
	color: #6f6b80;
}
.progressbar a{
	text-decoration: none;
	color: #000;
}

/*---------------------------------------------------*/
/*	18) DIZME MEDIA QUERIES (FOR SMALL DEVIVES)
/*---------------------------------------------------*/

@media (max-width: 1600px) {
	body{font-size: 16px;}
	.container{max-width:1170px;}
	.dizme_tm_header{padding: 15px 0px;}
	.dizme_tm_header.animate{padding: 10px 0px;}
	.dizme_tm_header .logo img{display: none;}
	.dizme_tm_header .menu ul li{margin-right: 30px;}
	.dizme_tm_hero .hello h3{font-size: 25px;}
	.dizme_tm_hero .name h3{font-size: 60px;}
	.dizme_tm_hero .job p{font-size: 19px;}
	.dizme_tm_hero .text p{font-size: 16px;}
	.dizme_tm_button a{padding: 9px 35px 8px 35px;}
	.dizme_tm_about .social{padding-left: 24px;}
	.dizme_tm_hero .name{margin-bottom: 13px;}
	.dizme_tm_hero .job{margin-bottom: 23px;}
	.dizme_tm_hero .text{margin-bottom: 30px;}
	.dizme_tm_down{bottom: 30px;}
	.dizme_tm_hero .avatar img{max-height: 400px;}
	.dizme_tm_hero .projects{width: 50px;height: 50px;}
	.dizme_tm_hero .projects .svg{width: 25px;height: 25px;}
	.dizme_tm_hero .projects.figma{bottom: 20px;left: 100px;}
	.dizme_tm_hero .projects.photoshop{right: 110px;}
	.dizme_tm_hero .projects.illustrator{left: -20px;}
	.dizme_tm_about .right .title span{font-size: 22px;}
	.dizme_tm_about .right .title h3{font-size: 40px;}
	.dizme_tm_main_title{max-width: 550px;}
	.dizme_tm_main_title span{font-size: 22px;}
	.dizme_tm_main_title h3{font-size: 38px;}
	.dizme_tm_main_title h3{margin-bottom: 16px;}
	.dizme_tm_about .brush_1{left: 40px;}
	.dizme_tm_about .numbers .wrapper{padding: 25px 30px 21px 26px;}
	.dizme_tm_about .numbers .wrapper h3{font-size: 50px;}
	.dizme_tm_about .numbers .wrapper .name{font-size: 18px;}
	.dizme_tm_portfolio .brush_1{left: 50px;}
	.dizme_tm_portfolio .brush_2{right: 10px;}
}
@media (max-width: 1200px) {
}
@media (max-width: 1040px) {
	.dizme_tm_skills .brush img {
		display: none;
	}
	.container{padding: 0px 20px;}
	.dizme_tm_header{display: none;}
	.portfolio_mobile_menu{display: block;}
	.dizme_tm_portfolio .portfolio_list .main{border-radius: 12px;}
	.dizme_tm_portfolio .mobile_title{display: block;}
	.dizme_tm_portfolio_titles.visible{opacity: 0;visibility: hidden;}
	.dizme_tm_portfolio .portfolio_list ul li .inner:hover .main{transform: scale(1);}
	.dizme_tm_hero .content{flex-direction: column-reverse;justify-content: center}
	.dizme_tm_hero .avatar{padding: 0px;width: auto;margin-bottom: 30px;}
	.dizme_tm_hero .avatar img{max-width: 300px;max-height: 300px;}
	.dizme_tm_hero .projects{display: none;}
	.dizme_tm_hero .details{width: 100%;padding-right: 0px;text-align: center;}
	.dizme_tm_hero .button{justify-content: center;}
	.dizme_tm_hero .hello h3{font-size: 25px;}
	.dizme_tm_hero .name{margin-bottom: 11px;}
	.dizme_tm_hero .name h3{font-size: 55px;}
	.dizme_tm_hero .job{margin-bottom: 23px;}
	.dizme_tm_hero .job p{font-size: 23px;}
	.dizme_tm_hero .text{margin-bottom: 30px;}
	.dizme_tm_hero .text p{font-size: 20px;}
	.dizme_tm_down {bottom: 20px;}
	.dizme_tm_about .wrapper{flex-direction: column;text-align: center;}
	.dizme_tm_about .left{padding-right: 0px;width: 100%;margin-bottom: 40px;}
	.dizme_tm_about .left .image img{max-width: 300px;max-height: 300px;}
	.dizme_tm_about .right{width: 100%;padding: 0px;}
	.dizme_tm_about .right .title span{font-size: 20px;}
	.dizme_tm_about .right .title h3{font-size: 35px;max-width: 100%;}
	.dizme_tm_about .numbers{position: relative;}
	.dizme_tm_about .numbers.year{top: auto;left: auto;margin-top: 20px;margin-bottom: 20px;}
	.dizme_tm_about .numbers.project{bottom: auto;right: auto;margin-bottom: 30px;}
	.dizme_tm_about .numbers .wrapper h3{font-size: 45px;}
	.dizme_tm_about .brush_1{display: none;}
	.dizme_tm_main_title span{font-size: 20px;}
	.dizme_tm_main_title h3{font-size: 35px;}
	.dizme_tm_portfolio .portfolio_list ul li{width: 50%;}
	.dizme_tm_about .brush_1{display: none;}
	.dizme_tm_about .brush_2{display: none;}
	.dizme_tm_portfolio .brush_1{display: none;}
	.dizme_tm_portfolio .brush_2{display: none;}
	.dizme_tm_projects .wrapper{flex-direction: column;align-items: baseline;}
	.dizme_tm_projects .left{padding-right: 0px;width: 100%;margin-bottom: 50px;}
	.dizme_tm_projects .right{padding-left: 0px;width: 100%;}
	.dizme_tm_projects .right img{max-width: 300px;max-height: 300px;}
	.dizme_tm_main_title{max-width: 100% !important;}
	.dizme_tm_copyright .inner{flex-direction: column;align-items: center;}
}
@media (max-width: 768px) {
	#preloader {
		display: none;
	}
	.dizme_tm_hero .brush img {
		display: none;
	}
	.dizme_tm_hero .avatar .image img {
		margin-top: -320px;
	}
	.dizme_tm_hero .hello .orangeText {
		margin-top: -40px;
	}
	.dizme_tm_hero .name {
		margin-bottom: -30px;
	}
	.dizme_tm_skills {
		margin-top: -100px;
	}
	.dizme_tm_button {
		margin-top: -150px;
		margin-bottom: -230px;
	}
	.dizme_tm_skills .brush img {
		display: none;
	}
	.dizme_tm_skills ul{
		margin: -25px -50px -20px -20px;
		min-width: calc(100% + 12px);
	} 
	.dizme_tm_about .heading span {
		margin-top: -200px;
	}
	.dizme_tm_about .heading h3 {
		margin-bottom: -50px;
	}
	.dizme_tm_about .brush img {
		display: none;
	}
	.dizme_tm_projects .brush_1 img {
		display: none;
	}
	.dizme_tm_projects .brush_2 {
		display: none;
	}
	.dizme_tm_projects .project_list ul li{
		margin: 0px 0px 25px 0px;
		width: 100%;
		float: left;
	}
	.dizme_tm_hero .avatar img{max-width: 220px;max-height: 220px;}
	.dizme_tm_hero .job{margin-bottom: 15px;}
	.dizme_tm_hero .job p{font-size: 18px;}
	.dizme_tm_hero .hello h3{font-size: 21px;}
	.dizme_tm_hero .text p{font-size: 16px;}
	.dizme_tm_hero .name h3{font-size: 42px;}
	.dizme_tm_about .social{padding-left: 15px;}
	.dizme_tm_portfolio .portfolio_list ul{margin: 0px;}
	.dizme_tm_portfolio .portfolio_list ul li{width: 100%;padding-left: 0px;}
	.dizme_tm_skills ul li{width: 25%;}
	.dizme_tm_hero{margin-bottom: 135px;}
	.dizme_tm_about{padding-top: 50px;}
	.dizme_tm_portfolio{padding-top: 113px;margin-bottom: 88px;}
	.dizme_tm_portfolio .portfolio_filter{padding-top: 53px;padding-bottom: 46px;}
}

@media (max-width: 600px) {
	.dizme_tm_skills ul li{width: 50%;}

}